body {
    background: #ffe6f3;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    width: 90%;
    max-width: 380px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(255, 140, 200, 0.3);
}

.title {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #ff75c9;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ffb8e1;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    background: #ff7ac4;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background: #ff58b5;
}

.switch {
    margin-top: 15px;
}

.switch a {
    color: #ff58b5;
    text-decoration: none;
    font-weight: bold;
}
